<div id="app">
  <v-app>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          Project {{ currentParams.pid }} Metadata
        </v-card-title>

        <v-card-text>
          {{ dialogResponseData }}
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer style="visibility: hidden;"></v-spacer>
          <div class="text-end">
            <v-btn
                color="primary"
                text
                @click="dialog = false"
              >
                Close
            </v-btn>
          </div>
       </v-card-actions>
      </v-card>
    </v-dialog>
    <div>
      <section id="request_info_metadata">
        <v-alert
          icon="mdi-information-outline"
          prominent
          text
          type="info">
          <p>Send requests to: {{ url }}</p>
          <p>Query Params: {{ currentParams }} </p>
          <!-- <p>{{ responseData }}</p> -->
        </v-alert>
      </section>
      <section>
        <v-card>
          <v-card-title class="text-center justify-center py-6">
            <!-- <h1 v-on:click="doThis($event)" class="font-weight-bold display-3"> -->
            <h1 class="font-weight-bold display-3">
              Search
            </h1>
          </v-card-title>
          <v-tabs
            @change="updateFunction"
            v-model="tab"
            background-color="transparent"
            grow
          >
            <v-tab
              v-for="title in getTabs"
              :key="title"
            >
              {{ title }}
            </v-tab>
          </v-tabs>
          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="title in getTabs"
              :key="title"
            >
              <v-card-title>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                >
                </v-text-field>
              </v-card-title>
              <v-data-table
                :headers="getHeaders"
                :items="responseData"
                class="elevation-1"
                hide-default-footer
                :loading="isLoading"
                :page.sync="page"
                :items-per-page="itemsPerPage"
                :search="search"
                @page-count="pageCount = $event"
              >
                <template v-if="title == 'projects'" v-slot:item.project_id="{ item }">
                  <td v-on:click="showProjectInfo(item.project_id)" class="text-start">{{ item.project_id }}</td>
                </template>
                <template v-slot:item.url="{ item }">
                  <a :href="item.url" target="_blank">Link</a>
                </template>
                <template v-slot:body.append>
                  <tr>
                    <td v-for="header in getHeaders"> 
                      <v-text-field 
                        v-if="header.filter"
                        v-model="filterParams[header.value]"
                        :label="header.filterLabel"
                      >
                      </v-text-field>
                    </td>
                  </tr>
                </template>
              </v-data-table>
              <div class="text-center pa-2">
                <v-pagination
                  v-model="page"
                  :length="pageCount"
                  :total-visible="5"
                ></v-pagination>
                <v-text-field
                  :value="itemsPerPage"
                  label="Items per page"
                  type="number"
                  min="1"
                  max="15"
                  @input="itemsPerPage = parseInt($event, 10)"
                ></v-text-field>
              </div>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </section>
    <div>
  </v-app>
</div>