<div id="app">
  <v-app>
    <div>
      <section id="request_info_metadata">
        <v-alert
          icon="mdi-information-outline"
          prominent
          text
          type="info">
          <p>Send requests to: {{ url }}</p>
          <p>Params: {{ currentParams }} </p>
        </v-alert>
      </section>
      <section>
        <v-card>
          <v-card-title class="text-center justify-center py-6">
            <h1 class="font-weight-bold display-3">
              Search
            </h1>
          </v-card-title>
          <v-tabs
            @change="updateFunction"
            v-model="tab"
            background-color="transparent"
            grow
          >
            <v-tab
              v-for="title in getTabs"
              :key="title"
            >
              {{ title }}
            </v-tab>
          </v-tabs>
      
          <v-tabs-items v-model="tab">
            <v-tab-item
              v-for="title in getTabs"
              :key="title"
            >
              <v-card-title>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Search"
                  single-line
                  hide-details
                >
                </v-text-field>
              </v-card-title>
              <v-data-table
                :headers="getHeaders"
                :items="responseData"
                :items-per-page="10"
                class="elevation-1"
                :loading="isLoading"
                :search="search"
              >
                <template v-slot:item.url="{ item }">
                  <a :href="item.url" target="_blank">Link</a>
                </template>
              </v-data-table>
            </v-tab-item>
          </v-tabs-items>
        </v-card>
      </section>
    <div>
  </v-app>
</div>